@page
@{
    Layout = "_LayoutLogin";
}
<link rel="stylesheet" href="~/css/login.css" />



<div class="login-card">
    <h2>Iniciar Sesión</h2>
    <form id="loginForm">
        <div class="mb-3">
            <input type="text" class="form-control" id="usuario" placeholder="Usuario" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-login">Entrar</button>

        <div id="mensajeLogin" class="text-center mt-3" style="color:red;"></div>

        <div class="text-center mt-3">
            <a href="/RecuperarContraseña   ">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="text-center mt-3">
            <p class="decoracion">★━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━★</p>
            <a href="/Registrar" class="btn btn-register">Registrar</a>
        </div>
    </form>
</div>

<script src="~/js/login.js"></script>